* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
}

html, body {
  font-size: 16px;
  padding: 2rem;
}

.top-margin {
  margin-top: 1rem;
}
.bottom-margin {
  margin-bottom: 1rem;
}
.left-margin {
  margin-left: 1rem;
}
.right-margin {
  margin-right: 1rem;
}

.step-container {
  float: left;
}

.step {
  width: 250px;
  clear: both;
  display: flex;
}

.step.current::after {
  margin-left: 1rem;
  background: salmon;
  border-radius: 100%;
  content: " ";
  display: block;
  height: 1rem;
  width: 1rem;
}



